.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

div.juuri-vasen {
  height: 100%;
  width: 200px;
  float: left;
}

div.juuri-oikea {
  height: 100%;
  width: 100%;
  margin-left: 200px;
}

div#kartta {
  height: 100%;
  width: 100%;
}
